@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

@font-face {
  font-family: Poppins-Light;
  src: url('../fonts/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

input,
.form-input,
select,
textarea,
button,
.form-control,
.input-field:focus,
.input-field:active {
  outline: 0px !important;
  -webkit-appearance: none !important;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.hero-section {
  background: url(../images/yellow-bg.svg) right bottom no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: 900px;
}

.hero-inner {
  padding-top: 2.5rem 0;
}

.hero-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.hero-title {
  font-family: Poppins-Regular;
  font-size: 60px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 0;
}

.hero-subtitle {
  font-family: Poppins-Regular;
  font-size: 19px;
  color: #000000;
  letter-spacing: 0;
}

.hero-subtitle2 {
  font-family: Poppins-Bold;
  font-size: 38px;
  color: #000000;
  letter-spacing: 0;
}

.hero-text {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #707070;
  text-align: left;
}

.hero-text2 {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #707070;
  text-align: left;
}

.more_btn {
  background: #FFCB00;
  width: 165px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1rem;
  cursor: pointer;
  font-family: Poppins-Medium;
  font-size: 17px;
  color: #000000;
  letter-spacing: 0;
}

#more {
  display: none;
}

.read-more {
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  margin-right: 10px;
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-icon-wobble-horizontal {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: none;
}

.hvr-icon-wobble-horizontal .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-wobble-horizontal:hover .hvr-icon,
.hvr-icon-wobble-horizontal:focus .hvr-icon,
.hvr-icon-wobble-horizontal:active .hvr-icon {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  text-decoration: none;
}

.dexter-ngn {
  background: #FECD30;
  margin: 2rem 0 1rem;
}

.dexter-ngn2 {
  background: url(../images/bg-grey.svg) left bottom no-repeat;
  padding: 1.8rem;
}

.dexter-ngn-title {
  font-family: 'Cardo',
    serif;
  font-weight: 700;
  font-size: 30px;
  color: #151E30;
  letter-spacing: 0;
}

.dexter-ngn-text {
  font-family: 'Cardo',
    serif;
  font-weight: 400;
  font-size: 18px;
  color: #151E30;
  text-align: left;
  margin-bottom: 0;
}

.landing-hero-img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform: rotate(0deg);
  width: 90%;
}

.floating:hover {
  animation-name: floating;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.floating1 {
  width: 220px;
  animation-name: floating1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0;
  margin-top: 5px;
  transform: rotate(-10deg);
  position: relative;
  z-index: 2;
}

@keyframes floating1 {
  from {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, -15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.floating2 {
  width: 220px;
  animation-name: floating2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
  z-index: 1;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  margin-left: -40px;
  margin-top: 5px;
}

@keyframes floating2 {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 20px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.brands {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.brands img {
  filter: grayscale(100%);
  cursor: pointer;
  opacity: 0.9;
  margin: 10px 7px;
}

.brands img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.hero-cc {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #151E30;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 0;
  padding: 1rem 0 1rem;
}

@media (min-width: 240px) and (max-width: 767px) {
  .hero-section {
    background: none;
  }

  #first {
    order: 2;
  }

  #second {
    order: 1;
  }

  .app-icon {
    width: 35px;
  }

  .floating1,
  .floating2 {
    width: 160px;
    margin-bottom: 2rem;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-subtitle2 {
    font-size: 25px;
  }

  .landing-hero-img {
    display: none;
    margin-bottom: 2rem;
  }

  .brands {
    justify-content: start;
  }

  .dexter-ngn-title {
    font-size: 25px;
  }

  .dexter-ngn-text {
    font-size: 15px;
  }

  .footer2 {
    justify-content: center;
  }

  .dexter-logo2 {
    width: 120px;
  }

  .aboutus-title {
    font-size: 32px;
  }

  .aboutus-text {
    font-size: 15px;
  }

  .build-with-us-text {
    font-size: 25px;
  }

  .our-products-title {
    font-size: 32px;
  }

  .lets-talk-title {
    font-size: 28px;
    line-height: 40px;
  }

  .product1 {
    height: auto;
  }

  .product2 {
    height: 400px;
  }

  .product-title,
  .arriving-soon2 {
    font-size: 25px;
  }

  .hide-mobile {
    display: none;
  }

  .mail-us-at {
    width: 100%;
  }

  .message-from-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero-section {
    /* height: 100%; */
    background: none;
  }

  .navbar-brand img {
    width: 140px;
  }

  #first {
    order: 2;
  }

  #second {
    order: 1;
  }

  .app-icon {
    width: 35px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-subtitle2 {
    font-size: 25px;
  }


  .landing-hero-img {
    display: none;
    margin-bottom: 2rem;
  }

  .brands {
    justify-content: start;
  }

  .footer2 {
    justify-content: center;
  }

  .dexter-logo2 {
    width: 120px;
  }

  .aboutus-title {
    font-size: 32px;
  }

  .aboutus-text {
    font-size: 15px;
  }

  .build-with-us-text {
    font-size: 25px;
  }

  .our-products-title {
    font-size: 32px;
  }

  .lets-talk-title {
    font-size: 28px;
    line-height: 40px;
  }

  .product1 {
    height: auto;
  }

  .product2 {
    height: 418px;
  }

  .product-title,
  .arriving-soon2 {
    font-size: 25px;
  }

  .hide-mobile {
    display: none;
  }

  .mail-us-at {
    width: 100%;
  }

  .message-from-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .hero-title {
    font-size: 45px;
  }

  .hero-subtitle2 {
    font-size: 28px;
  }

  .brands {
    justify-content: start;
  }
}